/* U did not write this -_- comments? lol */
/* The !important helps override other styles Yh its not that important -_-*/
        }
.top-list {
  background-color: #1F2937;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
}
.top-list li {
  float: left;
}
.top-list li a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ccc;
        /* Change to #0F172A once test is white or smtg */
  margin: 0;
}


.top-list li:hover {
    background-color: #ddd;
}
