body {
  background-color: #0F172A;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1F2937;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
<!-- U did not write this -_- comments? lol -->
ul li a:hover {
  background-color: #111111;
}
* {
            color: white; /* The !important helps override other styles */
        }
<style>
  .spaced-list li {
    margin-bottom: 15px; /* adjust the pixel thingy or some shit. Yh this helps with the lists in scehdule :)
  }
</style>
